.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 97px;
}

.title-page {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 900;
    color: var(--blue);
    margin-left: 8px;
}

.arrows {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

button {
    background-color: transparent;
    border: none;
}

.arrow-left,
.arrow-right {
    cursor: pointer;
}

.all-courses {
    display: flex;
    justify-content: space-between;
    width: 1320px;
    overflow: scroll;
    scroll-behavior: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.list-all-courses {
    display: flex;
    padding: 0;
}

.course {
    list-style: none;
    width: 315px;
    height: 235px;
    background-color: var(--white);
    border: 1px solid var(--gray-thin);
    border-radius: 5px;
    box-shadow: 4px 4px 20px rgba(120, 135, 182, 0.1);
    margin-right: 25px;
}

.list-course {
    margin: 20px 20px 0 20px;
}

.icon-image {
    padding: 28px 20px 0 20px;
}

.separator {
    border-bottom: 1px solid var(--gray-thin);
    padding-top: 30px;
}

.link-course {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: var(--blue);
}

.workload-space {
    display: flex;
    align-items: center;
    padding: 15px 20px 0 20px;
}

.workload {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: var(--gray);
    margin-left: 15px
}

@media screen and (max-width: 1224px) {
    .header {
        margin: 97px 50px 0 50px;
    }

    .all-courses {
        max-width: 100%;
        margin: 0 50px 0 50px;
    }
}

@media screen and (max-width: 540px) {
    .all-courses {
        width: 300px;
    }
}